* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    padding: 20px;
    background-color: #edebeb;
    width: 800px;
    margin: 50px auto;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b30000;
    padding: 10px 10px;
}

.point-board {
    display: flex;
    flex-direction: column;
    width: 140px;
}

td {
    padding: 5px;
}

table {
    color: white;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.no-player-notification {
    padding: 20px;
    text-align: center;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 90%;
}

.toast-header img {
    width: 10px;
}

.player-info {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.player-name {
    margin: 0;
}

.group-icon {
    display: flex;
    gap: 10px;
    align-items: center;
}

.point-grade {
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    margin-right: 20px;
}

main {
    background-color: white;
}

.point {
    font-size: 20px;
    width: 20px
}

.add-player-board {
    background-color: #b30000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.add-player-btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    width: 25%;
}

.input-player {
    width: 70%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #890300;
    color: white;
}

.input-player::placeholder {
    color: #e3cdcb
}

i {
    cursor: pointer;
}

i:hover {
    opacity: 85%;
    background-color: #e3cdcb;
}

.top-ranking {
    color: orange;
}

.point-grade .minus-btn,
.point-grade .plus-btn,
.remove-btn {
    font-size: 15px;
    width: 25px;
    border-radius: 5px;
}

.remove-btn {
    border: none;
}